body {
    background-color: $dark;
    font-family: 'DM Sans', sans-serif;

}

main,
.header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 35px 0;

    &__nav {
        display: flex;
        justify-content: space-between;

        &--logo {
            font-size: 26px;
        }

        &--list {
            display: flex;
            font-size: 18px;

            &-items {
                margin-left: 45px;

            }
        }

        a {
            text-decoration: none;
            color: $white;

            &:hover {
                transition: 2s;
                color: $green-light;
            }

        }

    }
}


.apresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0 180px 0;

    &__me {
        display: flex;
        flex-direction: column;

        &--title {
            font-size: 36px;
            color: $white;
            margin-bottom: 18px;
        }

        &--subTitle {
            font-size: 18px;
            color: $grey;
            margin-bottom: 35px;
        }
    }

    input[type=button] {
        padding: 12px 27px;
        border: 1px solid;
        cursor: pointer;
    }

    &__btn {
        position: absolute;
        margin-top: 180px;  
        font-weight: 500;
        &--download {
            padding: 12px;
            text-decoration: none;
            background-color: $green-light;
            border-color: $green-light;
            color: $dark;
            
            &:active {
                transition: 0.2s;
                background-color: inherit;
                color: $white;
                border: 1px solid $grey-200;            }
        }
        
        &--contact {
            padding: 12px;
            text-decoration: none;
            margin-left: 15px;
            background-color: inherit;
            border: 1px solid $grey-200;
            color: $white;

            &:active {
                transition: 0.2s;
                background-color: $green-light;
            }
        }
    }
}

.about {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__text {
        margin-top: 30px;
        font-size: 18px;
        color: $grey;
        line-height: 1.5;
    }

    &__social {
        margin: 85px 0 130px 0;
        display: flex;
        justify-content: space-evenly;

        h3 {
            color: $white;
            font-size: 18px;
        }

        p {
            margin-top: 5px;
            color: $grey;
            font-size: 16px;
        }

        &--instagram,
        &--email,
        &--tel {
            width: 100%;
            width: 175px;

            img {
                margin-bottom: 20px;
                padding: 20px;
                background-color: $grey-400;
                border-radius: 100%;
            }
        }
    }
}

.projects {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__container {
        display: flex;
        gap: 25px;
        margin: 30px 0 30px 0;

        &--items {
            width: 100%;
            height: 240px;
            background-color: $grey-400;
            padding: 15px;

            &-image {
                height: 130px;
                background-color: $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 23px;

                p {
                    font-size: 18px;
                    color: $white;
                }
            }

            &-text {
                h3 {
                    font-size: 18px;
                    color: $white;
                    margin-bottom: 5px;
                }

                span {
                    color: $grey;
                }
            }
        }

    }
}

.services {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__container {
        display: flex;
        gap: 45px;
        margin: 30px 0 30px 0;
        justify-content: space-evenly;

        &--items {
            width: 100%;
            max-width: 300px;
            height: 240px;
            background-color: $grey-400;
            border-bottom: 3px solid $green-light;
            text-align: left;
            padding: 0 30px 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &-span {
                color: $green-light;
                font-size: 45px;

            }

            &-text {
                color: $grey;
                font-size: 32px;
                width: 100%;
                width: 125px;
            }
        }
    }
}

.skills {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__container {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;

        &--items {
            width: 100%;
            max-width: 150px;
            height: 150px;
            background-color: $grey-400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-img {
                max-width: 70px;
                height: 75px;

            }
            
            #flutter {
                width: 75px;
                background-color: $green-light;
                padding: 5px;
                height: 75px;
            }
        }
    }
}

.footer {
    display: flex;
    margin-top: 185px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: $grey-400;

    &__developed {
        color: $white;
    }

    &__name {
        color: $green-light;
    }
}