body {
    background-color: $dark;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 35px 0;

    &__nav {
        display: flex;
        justify-content: space-between;

        &--logo {
            font-size: 26px;
        }

        &--list {
            display: flex;
            font-size: 18px;

            &-items {
                margin-left: 45px;
            }
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }
}


.apresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0 180px 0;

    &__me {
        display: flex;
        flex-direction: column;

        &--title {
            font-size: 36px;
            color: $white;
            margin-bottom: 18px;
        }

        &--subTitle {
            font-size: 18px;
            color: $grey;
            margin-bottom: 35px;
        }
    }

    input[type=button] {
        padding: 12px 27px;
        border: 1px solid;
        cursor: pointer;
    }

    &__btn {
        position: absolute;
        margin-top: 180px;

        &--download {
            background-color: $green-light;
            border-color: $green-light;
            color: $dark;
        }

        &--contact {
            margin-left: 15px;
            background-color: inherit;
            border-color: $grey-200 !important;
            color: $white;
        }
    }
}

.about {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__text {
        margin-top: 30px;
        font-size: 18px;
        color: $grey;
        line-height: 1.5;
    }

    &__social {
        margin: 85px 0 130px 0;
        display: flex;
        justify-content: space-evenly;

        h3 {
            color: $white;
            font-size: 18px;
        }

        p {
            margin-top: 5px;
            color: $grey;
            font-size: 16px;
        }

        &--instagram,
        &--email,
        &--tel {
            width: 100%;
            width: 175px;

            img {
                margin-bottom: 20px;
                padding: 20px;
                background-color: $grey-400;
                border-radius: 100%;
            }
        }
    }
}

.projects {
    text-align: center;

    &__title {
        font-size: 32px;
        color: $white;
    }

    &__container {
        width: 100%;
        max-width: 30%;
        background-color: $grey-400;
        padding: 15px;
        margin: 30px auto;
        &--image {
            height: 130px;
            background-color: $dark;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 23px;

            p {
                font-size: 18px;
                color: $white;
            }
        }

        &--text {
            h3 {
                font-size: 18px;
                color: $white;
                margin-bottom: 5px;
            }

            span {
                color: $grey;
            }
        }
    }
}

.services{
    text-align: center;
    &__title {
        font-size: 32px;
        color: $white;
    }
    &__container{
        display: flex;
        gap: 45px;
        margin-top: 30px;
        justify-content: space-evenly;
        &--item{
            width: 100%;
            max-width: 300px;
            height: 240px;
            background-color: $grey-400;
            border-bottom: 3px solid $green-light;
            text-align: left;
            padding: 0 30px 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            span{
                color: $green-light;
                font-size: 45px;
                
            }
            p{
                color: $grey;
                font-size: 32px;
                width: 100%;
                width: 125px;
            }
        }
    }
}